<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97fd8f">  <td>18/02/16 16:39:05</td>   <td>0</td> <td title="&gt;&gt;BaseTestIO.openApplication()[pri:0, instance:test.InOutTestRun@730d2164]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@573200870</td>   <td></td> </tr>
<tr bgcolor="6c91b2">  <td>18/02/16 16:39:36</td>   <td>30378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InOutTestRun.testLogin()[pri:1, instance:test.InOutTestRun@730d2164]">testLogin</td> 
  <td>main@573200870</td>   <td></td> </tr>
</table>
