<h2>Reporter output</h2><table><tr><td>Scenario : The elements present in InOut register page are:</td></tr>
<tr><td>InOut Logo</td></tr>
<tr><td>User Login</td></tr>
<tr><td>Admin Login</td></tr>
<tr><td>Download from the AppStore button</td></tr>
<tr><td>Download from the Google Play store button</td></tr>
<tr><td>
Scenario : The elements present in User Login page are:</td></tr>
<tr><td>Employee Number</td></tr>
<tr><td>DD</td></tr>
<tr><td>MM</td></tr>
<tr><td>YYYY</td></tr>
<tr><td>Login</td></tr>
<tr><td>Forgot password?</td></tr>
<tr><td>Sign up!</td></tr>
</table>